body{
	background-color: rgb(241, 241, 241);
}

a {
	text-decoration: none;
}
.container {
	width: 90%;
	margin: 0 auto;

}
.container:after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding: 18px;
    color: #fff;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px ;
	background-color: rgba(68,0,177, .9);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
    color: #fff;
}
.sidebar ul li {
	padding: 24px;
	transition: 0.3s;
	transition-property:background-color;
}
.sidebar ul li:hover {
	background-color: red;
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	padding: 100px;
}
.banner img {
	width: 200px;
	border-radius: 10px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
section {
	padding: 50px 0;
	color: #fff;
}
.banner h2 {
	color: rgb(107, 105, 105);
}
.banner h2 {
	margin-bottom: 10px
}
.banner p {
	font-size: 18px;
}
.banner-left {
	padding-left: 24px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin: block;
	position: relative;
	align-items: center;
	display: flex;
	align-items: center;
}
@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-4 {
		width: 50%
	}
	.col-3 {
		width: 100%
	}
}